@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@font-face {
  font-family: 'Audiowide';
  src: url('./assets/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-audiowide: 'Audiowide', sans-serif;
  --color-primary: #575757;
  --color-secondary: #00206C;
  --breakpoint-xxs: 380px;
  --breakpoint-xs: 450px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) skewX(12deg);
  }
  100% {
    transform: translateX(200%) skewX(12deg);
  }
}

.shine {
  animation: shine 3s linear infinite;
}

#root {
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > img { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}